.ProjectsContainer {
  background-color: white;
  margin-left: 37%;
  display: grid;
  grid-template-rows: 60vh 60vh 60vh 60vh;
  grid-row-gap: 3%;
  padding-left: 3%;
  margin-right: 20px;
}
.NavBarContainer {
  position: fixed;
  height: 100vh;
  width: 37%;
  background-color: #5d5c61;
}
.projectName {
  font-size: 30px;
  margin-top: -7px;
}
.projectDescriptionFront {
  position: relative;
  top: 90%;
}
.projects {
  box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 20px 15px;
}
.projectCoTripper {
  grid-row: 3;
}
.projectTowerOfHanoi {
  grid-row: 1;
}

.projectGovernmentFundingAPI {
  grid-row: 2;
}
.projectCalaendarMern {
  grid-row: 4;
}
.FrontSideTower,
.FrontSideTrip,
.FrontSideGov,
.FrontSideCalendar {
  background-size: 80% 75%;
  background-repeat: no-repeat;
  width: 70%;
  height: 60vh;
  position: absolute;
  left: 50%;
  /* margin-top: 40px; */
  top: 50%;
  transform: translate(-40%, -40%);
}

.flippy-container {
  background-color: #7395ae;
}
.FrontSideTower {
  background-image: url("./Tower.png");
}
.FrontSideCalendar {
  background-image: url("./calendar.png");
}
.FrontSideGov {
  background-image: url("./gov.png");
}
.FrontSideTrip {
  background-image: url("./CoTripper.png");
}
.BacksideProject {
  margin-top: 20px;
  width: 100%;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.BackSideTower {
  background-image: url("./Tower.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 40%;
  height: 25vh;
  position: absolute;
  left: 50%;
  transform: translate(-120%, -60%);
  top: 25%;
}
.summaryProject,
.points {
  position: relative;
}
.summaryProject {
  margin-left: 10%;
  margin-right: 10%;
  top: 20%;
  font-size: 20px;
}
.points {
  top: 2%;
  font-size: 25px;
  width: 10%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
.linksNav {
  width: 2vw;
  margin-left: 10px;
}
.navLink {
  width: 100%;
  height: 10vh;
  display: flex;
  align-content: space-between;
  margin-top: -10px;
}
.navLinks {
  font-size: 35px;
  text-align: center;
  text-decoration: double;
  display: flex;
  flex-direction: column;
}
.navLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
span {
  margin-left: 0.505vw;
  margin-right: 0.505vw;
}
h1 {
  font-size: 1.01vw;
  margin: auto 0;
  margin-top: -20px;
}
.intro {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.profilePic {
  border-radius: 100%;
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
}
.br {
  margin-left: 50px;
}
@media screen and (max-width: 1410px) {
  .navLink {
    margin-top: -30px;
  }
}
@media screen and (max-width: 1350px) {
  .points {
    font-size: 20px;
  }
}
@media screen and (max-width: 1180px) {
  .ProjectsContainer {
    margin: 0 auto;
    padding-top: 100px;
  }
  .NavBarContainer {
    width: 100%;
    height: 10vh;
    z-index: 20;
  }
  .points {
    font-size: 25px;
  }
  span {
    margin-right: 4.545vw;
  }
}
@media screen and (max-width: 911px) {
  .points {
    font-size: 20px;
  }
  .summaryProject {
    margin-top: 20px;
  }
}
@media screen and (max-width: 870px) {
  .points {
    font-size: 20px;
    width: 25%;
  }
  span {
    margin-left: 60px;
  }
  .br {
    margin: 0 auto;
  }
  .summaryProject {
    margin-top: 10px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
  }
}
@media screen and (max-width: 800px) {
  .navLink {
    margin-top: -20px;
  }
}
@media screen and (max-width: 760px) {
  .points {
    margin-top: 25px;
  }
  span {
    margin-right: 5px;
    font-size: 2.409vw;
  }
  .summaryProject {
    margin-top: -10px;
  }
  .navLink {
    margin-top: -40px;
  }
}
@media screen and (max-width: 710px) {
  .summaryProject {
    margin-top: 15px;
    font-size: 20px;
  }
  .navLink {
    margin-top: -15px;
  }
}
@media screen and (max-width: 610px) {
  .BackSideTower {
    display: none;
  }
  .points {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }
  .br {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    display: none;
  }
  span {
    margin: 0 auto;
    font-size: 20px;
  }
  .summaryProject {
    margin-top: -54px;
    margin-left: 15px;
    font-size: 23px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 580px) {
  /* .ProjectsContainer {
    width: 80%;
  } */
  .navLink {
    margin: 0 auto;
    padding: 0px;
    margin-right: 10px;
    margin-top: -60px;
    height: 8vh;
    padding-left: 50px;
  }
}

@media screen and (max-width: 530px) {
  .BackSideTower {
    display: inline;
    width: 45%;
    height: 30vh;
    top: 31%;
    left: 55%;
  }
  .points {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
  }
  span {
    font-size: 3vw;
    margin: 0px 0px 0px 0px;
    margin-right: 30px;
    margin-top: 10px;
  }
  .br {
    margin: 0 auto;
  }
  .summaryProject {
    font-size: 4vw;
    margin-top: -40px;
  }
  .navLink {
    height: 6vh;
    margin-top: -60px;
    padding-left: 22px;
  }
}
@media screen and (max-width: 520px) {
  .summaryProject {
    font-size: 20px;
  }
}
@media screen and (max-width: 510px) {
  .summaryProject {
    margin-top: -50px;
  }
}
@media screen and (max-width: 468px) {
  .summaryProject {
    margin-top: -43px;
  }
}
@media screen and (max-width: 460px) {
  .summaryProject {
    font-size: 20px;
    margin-top: -50px;
  }
  span {
    font-size: 15px;
  }
}
/* @media screen and (max-width: 530px) {
  .ProjectsContainer {
    grid-template-rows: 40vh 40vh 40vh 40vh;
    grid-row-gap: 3%;
    padding-left: 3%;
  }
  .FrontSideTower {
    height: 40vh;
    top: 34%;
  }
  .BackSideProject {
    top: 34%;
    height: 40vh;
  }
} */
@media screen and (max-width: 440px) {
  .navLink {
    margin-top: -50px;
    height: 5vh;
    padding-left: 10px;
  }
  .summaryProject {
    font-size: 19px;
  }
}
@media screen and (max-width: 426px) {
  .points {
    font-size: 13px;
  }
  .summaryProject {
    font-size: 18px;

    margin-top: -50px;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 370px) {
  span {
    font-size: 13px;
  }
  .summaryProject {
    margin-top: -30px;
  }
}
@media screen and (max-width: 335px) {
  span {
    font-size: 13px;
  }
  .summaryProject {
    font-size: 16px;
  }
}
