.App1 {
  height: 110vh;
  background: rgb(255, 255, 255);
}
.currentSkills {
  font-size: 29px;
  margin: 0 auto;
  position: relative;
  color: black;
}
.ProjectsContainer {
  background-color: white;
  margin-left: 37%;
  display: grid;
  grid-template-rows: 60vh 60vh 60vh 60vh;
  grid-row-gap: 3%;
  padding-left: 3%;
  margin-right: 20px;
}
.pictureSkills {
  background-image: url("./skills.png");
  background-size: cover;
  background-repeat: round;
  width: 40%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 4%;
  margin-top: 7%;
}
.NavBarContainer {
  position: fixed;
  height: 100vh;
  height: 103vh;
  width: 37%;
  background-color: #5d5c61;
}
.projectName {
  font-size: 30px;
}
.projectDescriptionFront {
  position: relative;
  top: 90%;
}
.flippy-container * {
  box-sizing: border-box;
  color: floralwhite;
}
.project-subtitle {
}
.projects {
  box-shadow: 0px 2px 13px 0px;
}
.projectCoTripper {
  grid-row: 3;
}
.FrontSideTower,
.FrontSideTrip,
.FrontSideGov,
.FrontSideCalendar {
  background-size: 80% 75%;
  background-repeat: no-repeat;
  width: 70%;
  height: 40vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -43%);
}

.flippy-container {
  background-color: darkslategray;
}
.FrontSideTower {
  background-image: url("./Tower.png");
}
.FrontSideCalendar {
  background-image: url("./calendar.png");
}
.FrontSideGov {
  background-image: url("./gov.png");
}
.FrontSideTrip {
  background-image: url("./CoTripper.png");
}
.BacksideProject {
  margin-top: 20px;
  width: 100%;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.BackSideTower {
  width: 51%;
  position: absolute;
  left: 107%;
  transform: translate(-120%, -60%);
  top: 40%;
  border: 10px solid indianred;
}

.project-text {
  width: 45%;
  float: left;
}
.flex {
  display: flex;
  flex-direction: row;
  grid-row-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.nodejs {
  background-color: tomato;
}
.projectDescriptionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  margin-right: 20px;
  color: unset;
  margin-left: 39%;
  height: 60vh;
  box-shadow: 0 100px 35px rgba(50, 50, 93, 0.1), 0 20px 15px;
  font-size: 25px;
  margin-top: 5%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 26px;
  border: dashed;
}
/* .ProjectsContainerAboutMe,
.ProjectsContainerAbout {
  margin-top: 20%;
} */
.project-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0.3em;
  -webkit-font-smoothing: antialiased;
}
.project-subtitle {
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  margin-left: 20px;
  margin-right: 10px;
}

.linksNav {
  width: 3vw;
  margin-left: 10px;
}

.break {
  margin-left: 50px;
}
.navLink {
  float: left;
  font-size: 20px;
  margin-left: 4%;
  position: absolute;
  top: 86%;
}
.navLinks {
  font-size: 35px;
  text-align: center;
  text-decoration: double;
  display: flex;
  flex-direction: column;
  color: wheat;
}
.navLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
span {
  margin-left: 0.505vw;
  margin-right: 0.505vw;
}
h1 {
  font-size: 1.01vw;
  margin: auto 0;
  margin-top: -20px;
}
.intro {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.profilePic {
  border-radius: 100%;
  width: 50%;
  margin-left: 28%;
  margin-top: 20%;
}

.br {
  margin-left: 50px;
}
.tech {
  font-size: 20px;
}
.projectPhone {
  height: 100px;
  margin-top: 120px;
}
@media screen and (max-width: 1400px) {
  .project-subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 1300px) {
  .project-subtitle {
    font-size: 22px;
  }
}
@media screen and (max-width: 1300px) {
  .project-subtitle {
    font-size: 21px;
  }
}
@media screen and (max-width: 1100px) {
  .project-subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .project-subtitle {
    font-size: 20px;
  }
  .App1 {
    height: 60vh;
  }

  .navLinks {
    margin-right: 20px;
    font-size: 23px;
    /* font-size: 2.8vw; */
  }
  .intro {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1%;
  }
  .ProjectContainerSkills {
    margin-top: -30%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .navBarLinkRoutes {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -57%;
    justify-content: space-evenly;
  }

  .profilePic {
    display: none;
  }
  .NavBarContainer {
    width: 100%;
    height: 12vh;
    z-index: 20;
  }
  .ProjectsContainer {
    margin: 0 auto;
    padding-top: 100px;
    margin-right: 20px;
  }
  .projectDescriptionAbout {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20%;
    padding: 0px;
    height: 45vh;
    padding-left: 20px;
    font-size: 20px;
    padding-right: 20px;
  }
  .projectPhone {
    margin-top: 41%;
    height: 20vh;
  }
  .ProjectsContainerAboutMe {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    background-color: tomato;
    display: block;
  }
}

@media screen and (max-width: 910px) {
  .project-subtitle {
    font-size: 23px;
  }
}

@media screen and (max-width: 780px) {
  .project-subtitle,
  .project-subtitle2 {
    font-size: 22px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 1) {
  .intro {
    top: 7%;
  }
  .navBarLinkRoutes {
    top: -62%;
  }
}
@media screen and (max-width: 660px) {
  .project-subtitle,
  .project-subtitle2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 590px) {
  .BackSideTower {
    width: 100%;
    height: 30vh;
    position: relative;
    transform: translate(-107%, -89%);
    padding: 10px;
  }
  .project-title {
    display: none;
  }
  .project-text {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    text-align: center;
  }

  .project-subtitle {
    margin: 0 auto;
    font-size: 20px;
  }
  .projectDescriptionAbout {
    margin-top: 25%;
  }
  .projectPhone {
    margin-top: 42%;
  }
}
@media screen and (max-width: 502px) {
  .project-subtitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 420px) {
  .project-subtitle {
    font-size: 17px;
  }

  .projectDescriptionAbout {
    font-size: 14px;
    margin-top: 30%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .projectPhone {
    margin-top: 44%;
    height: 33vh;
  }
  .navBarLinkRoutes {
    margin-top: 19px;
  }
  .intro {
    top: -34%;
    font-size: 16px;
  }
}
@media screen and (max-width: 414px) {
  .intro {
    top: 12%;
    font-size: 17px;
  }
  .navBarLinkRoutes {
    margin-top: 14px;
  }
}
@media screen and (max-width: 321px) {
  .navBarLinkRoutes {
    margin-top: -8px;
  }
  .intro {
    top: -3%;
  }
}
