.App1 {
  height: 150vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 113, 0, 1) 100%
  );
}
.ProjectsContainer {
  background-color: white;
  margin-left: 37%;
  display: grid;
  grid-template-rows: 60vh 60vh 60vh 60vh;
  grid-row-gap: 3%;
  padding-left: 3%;
  margin-right: 20px;
}

ul {
  margin-bottom: 0px;
  margin-top: 5px;
}

.NavBarContainer {
  position: fixed;
  height: 100vh;
  height: 103vh;
  width: 37%;
  background-color: #5d5c61;
}
.projectName {
  font-size: 30px;
}
.projectDescriptionFront {
  position: relative;
  top: 90%;
}
.flippy-container * {
  box-sizing: border-box;
  color: floralwhite;
}
.projects {
  box-shadow: 0px 2px 13px 0px;
}
.projectCoTripper {
  grid-row: 3;
}
.projectTowerOfHanoi {
  grid-row: 1;
}

.projectGovernmentFundingAPI {
  grid-row: 2;
}
.projectCalaendarMern {
  grid-row: 4;
}
.FrontSideTower,
.FrontSideTrip,
.FrontSideGov,
.FrontSideCalendar {
  background-size: 80% 75%;
  background-repeat: no-repeat;
  width: 70%;
  height: 40vh;
  position: absolute;
  left: 50%;
  /* margin-top: 40px; */
  top: 50%;
  transform: translate(-40%, -43%);
}

.flippy-container {
  background-color: #7395ae;
}
.FrontSideTower {
  background-image: url("./Tower.png");
}
.FrontSideCalendar {
  background-image: url("./calendar.png");
}
.FrontSideGov {
  background-image: url("./gov.png");
}
.FrontSideTrip {
  background-image: url("./CoTripper.png");
}
.BacksideProject {
  margin-top: 20px;
  width: 100%;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.BackSideTower {
  width: 50%;

  position: absolute;
  left: 107%;
  transform: translate(-120%, -60%);
  top: 40%;
}

.project-text {
  width: 45%;
  float: left;
}
.projectDescriptionAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: grey;
  margin-right: 20px;
  color: whitesmoke;
  margin-left: 39%;
  height: 60vh;
  box-shadow: 0 100px 35px rgba(50, 50, 93, 0.1), 0 20px 15px;
  font-size: 25px;
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
}

.project-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0.3em;
  -webkit-font-smoothing: antialiased;
}
.project-subtitle {
  font-size: 27px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  margin-left: 20px;
  margin-right: 10px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.firstHalf {
  position: relative;
  top: 20%;
  left: 14%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
.secoundHalf {
  position: relative;
  top: 10%;
  left: -14%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
.linksNav {
  width: 3vw;
  margin-left: 10px;
}
.rightNow {
  position: relative;
  top: -50%;
}
.break {
  margin-left: 50px;
}
.navLink {
  float: left;
  font-size: 20px;
  margin-left: 4%;
  position: absolute;
  top: 90%;
}
.navLinks {
  font-size: 35px;
  text-align: center;
  text-decoration: double;
  display: flex;
  flex-direction: column;
  color: wheat;
}
.navLinksContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
span {
  margin-left: 0.505vw;
  margin-right: 0.505vw;
}
h1 {
  font-size: 1.01vw;
  margin: auto 0;
  margin-top: -20px;
}
.intro {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.profilePic {
  border-radius: 100%;
  width: 50%;
  margin-left: 28%;
  margin-top: 20%;
}
li {
  font-size: 23px;
}
.br {
  margin-left: 50px;
}
.tech {
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .project-subtitle {
    font-size: 24px;
  }
}
@media screen and (max-width: 1300px) {
  .project-subtitle {
    font-size: 23px;
  }
}
@media screen and (max-width: 1100px) {
  li {
    font-size: 20px;
  }
  .list {
    font-size: 25px;
  }
  .project-subtitle {
    font-size: 21px;
  }
}
@media screen and (max-width: 1000px) {
  .project-subtitle {
    font-size: 25px;
  }
  .navLinks {
    margin-right: 20px;
    font-size: 23px;
    /* font-size: 2.8vw; */
  }
  .intro {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40%;
  }
  .ProjectContainerSkills {
    margin-top: -30%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .navBarLinkRoutes {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -65%;
    justify-content: space-evenly;
  }

  .profilePic {
    display: none;
  }
  .NavBarContainer {
    width: 100%;
    height: 10vh;
    z-index: 20;
  }
  .ProjectsContainer {
    margin: 0 auto;
    padding-top: 100px;
    margin-right: 20px;
  }
  .projectDescriptionAbout {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40%;
    padding: 0px;
  }
  .ProjectsContainerAboutMe {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    background-color: tomato;
    display: block;
  }
  li {
    font-size: 16px;
  }
  .list {
    font-size: 20px;
  }
}

@media screen and (max-width: 910px) {
  .project-subtitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 910px) {
  li {
    font-size: 18px;
  }
  .list {
    font-size: 20px;
  }
}
@media screen and (max-width: 780px) {
  .project-subtitle,
  .project-subtitle2 {
    font-size: 22px;
  }
}
@media screen and (max-width: 660px) {
  .project-subtitle,
  .project-subtitle2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 590px) {
  .BackSideTower {
    width: 100%;
    height: 30vh;
    position: relative;
    transform: translate(-107%, -89%);
    padding: 10px;
  }
  .project-title {
    display: none;
  }
  .project-text {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    text-align: center;
  }
  li {
    font-size: 16px;
  }
  .project-subtitle {
    margin: 0 auto;
    font-size: 20px;
  }
}
@media screen and (max-width: 502px) {
  .project-subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .project-subtitle {
    font-size: 17px;
  }
}
